
<!-- <div class="container"> -->
<label>Server Name</label>
<!-- EVENT BINDING -->
<input 
  type = "text"
  class = "form-control"
  (input) = "onUpdateServerName($event)">
<input 
  type = "text"
  class = "form-control"
  [(ngModel)] = "serverName">
  
<p>{{ serverName }}</p>

<button 
  class = "btn btn-primary giveSpace"
  [disabled] = "!allowNewServer"
  (click) = "onCreateServer()">Click to Start Server</button>   <!-- disabled meaning 'only disable the button if false;-->
  
<p class = "colorGreen">{{ serverStatus }}</p>
  <!-- String Interpalation: Use in your output, bring something to it -->
  <!-- <p>{{ allowNewServer }}</p> -->
  <!-- Property Binding: Usual  ly directed to an html element, directive or component -->
  <!-- <p class = "colorRed" [innerText] = "allowNewServer"></p> -->

<app-server></app-server>
<app-server></app-server>
<!-- </div> -->
<!-- 
ONLY DISABLE IF THIS IS FALSE
to use, update the AppModule
 -->